{
    "stage": 0,
    "env": {
        "test": {
            "experimental": true,
            "optional": ['es6.arrowFunctions', 'es6.modules', 'es7.decorators', 'es7.classProperties'],
            "ignore": ['node_modules', 'stem/client/lib'],
            "plugins": ['babel-plugin-remove-decorators:before']
        },
        "development": {
            "experimental": true,
            "optional": ['es6.arrowFunctions', 'es6.modules', 'es7.decorators', 'es7.classProperties'],
            "ignore": ['node_modules', 'stem/client/lib']
        }
    }

}
